@using AdventCalendar.ViewModels
@model CalendarViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Calendrier de l'Avent </h1>
<div class="Calendar">
    @for (int i = 1; i <= Model.GenericsPicturesNames.Count; i++)
    {
        string currentBox = "box" + i;
        <div class="BoxAndPicture">
            @if (Model.PicturesNames.ContainsKey(i))
            {
                <img id="@currentBox" src="@Model.PicturesNames[i]" alt="@(i)" />
            }
            else
            {
                <img id="@currentBox" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            }
        </div>

    }

</div>


