@using AdventCalendar.ViewModels
@model CalendarViewModel

@{
    ViewBag.Title = "Index";
    int dayNumber = DateTime.Today.Day;
    const string BoxPreffix = "box";
    const string PicturePreffix = "pict";

}

<h1>Calendrier de l'Avent de @ViewBag.CalendarName</h1>
<div class="Calendar">
    @for (int i = 1; i <= Model.GenericsPicturesNames.Count; i++)
    {
        string currentBox = BoxPreffix + i;
        string currentPicture = PicturePreffix + i;
        <div class="BoxAndPicture">
            <img id="@currentBox" class="box" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            @if (Model.PicturesNames.ContainsKey(i))
            {
                <img id="@currentPicture" class="hover" src="@Model.PicturesNames[i]" alt="@(i)" onclick="Popup_ShowPictures_HideBox(this, @currentBox);" onmouseover="ShowPicture_HideBox(this, @currentBox);" />
            }
            else
            {
                <img class="hover" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            }
        </div>

    }

</div>

<div id="PopupPicture" class="popup">
    <div id="largeImageAndButtons">
        <img class="popup-content" id="imageToPopup">
        <div id="previousButton" class="previous">&blacktriangleleft;</div>
        <div id="nextButton" class="next">&blacktriangleright;</div>
        <div id="closeButton" class="close">&Cross;</div>
        <div id="caption"></div>
    </div>
</div>

<script>
    var popup = document.getElementById("PopupPicture");
    var imageToPopup = document.getElementById("imageToPopup");
    var pictureLink = document.getElementById("pictureLink");
    var captionText = document.getElementById("caption");
    var closeButton = document.getElementById("closeButton");
    var previousButton = document.getElementById("previousButton");
    var nextButton = document.getElementById("nextButton");

    closeButton.onclick = function () {
        popup.style.display = "none";
    }

    window.addEventListener("resize", Resize);

    function Popup_ShowPictures_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        var previousPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix", "")) - 1);
        var nextPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix","")) + 1);
        var previousPicture = document.getElementById(previousPictureId);
        var nextPicture = document.getElementById(nextPictureId);

        var previousBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) - 1);
        var nextBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) + 1);
        var previousBox = document.getElementById(previousBoxId);
        var nextBox = document.getElementById(nextBoxId);

        document.getElementById("previousButton").onclick = function () {
            Popup_ShowPictures_HideBox(previousPicture, previousBox);
        }
        document.getElementById("nextButton").onclick = function () {
            Popup_ShowPictures_HideBox(nextPicture, nextBox);
        }

        setTimeout(function () {
            Resize();
        }, 100);


        popup.style.display = 'block';
        imageToPopup.src = pictureToShowPermanently.src;
        captionText.innerHTML = pictureToShowPermanently.alt;
        pictureLink.href = pictureToShowPermanently.src;
        ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently);
    }

    function ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        pictureToShowPermanently.style.display = 'block';
        boxToHidePermanently.style.display = 'none';
    }

    function Resize() {
        nextButton.style.top = document.getElementById("imageToPopup").clientHeight / 2 - 10 + "px";
        previousButton.style.top = document.getElementById("imageToPopup").clientHeight/2 - 10 +"px" ;
    }

</script>
