@using AdventCalendar.ViewModels
@model CalendarViewModel

@{
    ViewBag.Title = "Index";
    int dayNumber = DateTime.Today.Day;
    const string BoxPreffix = "box";
    const string PicturePreffix = "pict";

}

<h1>Calendrier de l'Avent de @ViewBag.CalendarName</h1>
<div class="Calendar">
    @for (int i = 1; i <= Model.GenericsPicturesNames.Count; i++)
    {
        string currentBox = BoxPreffix + i;
        string currentPicture = PicturePreffix + i;
        <div class="BoxAndPicture">
            <img id="@currentBox" class="box" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            @if (Model.PicturesNames.ContainsKey(i))
            {
                <img id="@currentPicture" class="hover" src="@Model.PicturesNames[i]" alt="@(i)" onclick="Popup_ShowPictures_HideBox(this, @currentBox);" onmouseover="ShowPicture_HideBox(this, @currentBox);" />
            }
            else
            {
                <img class="hover" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            }
        </div>
    }
</div>

<div id="PopupPicture" class="popup">
    <div id="largeImageAndButtons" ontouchstart="TouchStart()" ontouchmove="TouchMove()" ontouchend="TouchEnd()">
        <img class="popup-content" id="imageToPopup">
        <div id="previousButton" class="previous"></div>
        <div id="nextButton" class="next"></div>
        <div id="previousArea"></div>
        <div id="nextArea"></div>
        <div id="closeButton" class="close" onclick="DefaultScreen(); popup.style.display = 'none';"></div>
        <div id="maxScreenButton" class="screenButton" onclick="MaxScreen();"></div>
        <div id="defaultScreenButton" class="screenButton" onclick="DefaultScreen();"></div>
        <div id="caption"></div>
    </div>
</div>

<script>
    var largeImageAndButtons = document.getElementById("largeImageAndButtons");
    var popup = document.getElementById("PopupPicture");
    var imageToPopup = document.getElementById("imageToPopup");
    var captionText = document.getElementById("caption");
    var closeButton = document.getElementById("closeButton");
    var previousButton = document.getElementById("previousButton");
    var nextButton = document.getElementById("nextButton");
    var maxScreenButton = document.getElementById("maxScreenButton");
    var defaultScreenButton = document.getElementById("defaultScreenButton");

    var Default_captionText_style_display = captionText.style.display;
    var Default_largeImageAndButtons_style_width = largeImageAndButtons.style.width;
    var Default_largeImageAndButtons_style_height = largeImageAndButtons.style.height;
    var Default_popup_style_padding = popup.style.padding;
    var Default_popup_style_width = popup.style.width;
    var Default_popup_style_height = popup.style.height;

    var Max_captionText_style_display = 'none';
    var Max_largeImageAndButtons_style_width = '100%';
    var Max_largeImageAndButtons_style_height = '100%';
    var Max_popup_style_padding = '0px';
    var Max_popup_style_width = '100%';
    var Max_popup_style_height = '100%';
    var PreviousPicture;
    var NextPicture;
    var PreviousBox;
    var NextBox;

    window.addEventListener("resize", AlignNextPreviousButtons);
    defaultScreenButton.style.display = 'none';

    function Popup_ShowPictures_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        var previousPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix", "")) - 1);
        var nextPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix","")) + 1);
        PreviousPicture = document.getElementById(previousPictureId);
        NextPicture = document.getElementById(nextPictureId);

        var previousBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) - 1);
        var nextBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) + 1);
        PreviousBox = document.getElementById(previousBoxId);
        NextBox = document.getElementById(nextBoxId);

        document.getElementById("previousArea").onclick = function () {
            Popup_ShowPictures_HideBox(PreviousPicture, PreviousBox);
        }
        document.getElementById("nextArea").onclick = function () {
            Popup_ShowPictures_HideBox(NextPicture, NextBox);
        }

        setTimeout(function () {
            AlignNextPreviousButtons();
        }, 100);

        popup.style.display = 'block';
        imageToPopup.src = pictureToShowPermanently.src;
        captionText.innerHTML = pictureToShowPermanently.alt;
        ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently);
    }

    function ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        pictureToShowPermanently.style.display = 'block';
        boxToHidePermanently.style.display = 'none';
    }

    function AlignNextPreviousButtons() {
        nextButton.style.top = imageToPopup.clientHeight / 2 + "px";
        previousButton.style.top = imageToPopup.clientHeight/2 +"px" ;
    }

    function MaxScreen() {
        captionText.style.display = Max_captionText_style_display;
        largeImageAndButtons.style.width = Max_largeImageAndButtons_style_width;
        largeImageAndButtons.style.height = Max_largeImageAndButtons_style_height;
        popup.style.padding = Max_popup_style_padding;
        popup.style.width = Max_popup_style_width;
        popup.style.height = Max_popup_style_height;
        maxScreenButton.style.display = 'none';
        defaultScreenButton.style.display = 'block';
        OpenFullScreen();
    }

    function DefaultScreen() {
        captionText.style.display = Default_captionText_style_display;
        largeImageAndButtons.style.width = Default_largeImageAndButtons_style_width;
        largeImageAndButtons.style.height = Default_largeImageAndButtons_style_height;
        popup.style.padding = Default_popup_style_padding;
        popup.style.width = Default_popup_style_width;
        popup.style.height = Default_popup_style_height;
        defaultScreenButton.style.display = 'none';
        maxScreenButton.style.display = 'block';
        CloseFullScreen();
    }

    function OpenFullScreen() {
        if (largeImageAndButtons.requestFullscreen) {
            largeImageAndButtons.requestFullscreen();
        } else if (largeImageAndButtons.mozRequestFullScreen) { /* Firefox */
            largeImageAndButtons.mozRequestFullScreen();
        } else if (largeImageAndButtons.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            largeImageAndButtons.webkitRequestFullscreen();
        } else if (largeImageAndButtons.msRequestFullscreen) { /* IE/Edge */
            largeImageAndButtons.msRequestFullscreen();
        }
    }

    function CloseFullScreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) { /* Firefox */
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { /* IE/Edge */
            document.msExitFullscreen();
        }
    }

    var XBegin;
    var XEnd;
    var XDiff;
    var IsMove;

    function TouchStart() {
        XBegin = event.touches[0].clientX;
        IsMove = false;
    }

    function TouchMove() {
        XEnd = event.touches[0].clientX;
        IsMove = true;
    }

    function TouchEnd() {
        if (IsMove) {
            XDiff = XEnd - XBegin;
            if (XDiff > 40) {
                Popup_ShowPictures_HideBox(PreviousPicture, PreviousBox);
            }
            else if (XDiff < -40) {
                Popup_ShowPictures_HideBox(NextPicture, NextBox);
            }
        }
    }



</script>
