@using AdventCalendar.ViewModels
@model CalendarViewModel

@{
    ViewBag.Title = "Index";
    int dayNumber = DateTime.Today.Day;
    const string BoxPreffix = "box";
    const string PicturePreffix = "pict";

}

<h1>Calendrier de l'Avent de @ViewBag.CalendarName</h1>
<div class="Calendar">
    @for (int i = 1; i <= Model.GenericsPicturesNames.Count; i++)
    {
        string currentBox = BoxPreffix + i;
        string currentPicture = PicturePreffix + i;
        <div class="BoxAndPicture">
            <img id="@currentBox" class="box" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            @if (Model.PicturesNames.ContainsKey(i))
            {
                <img id="@currentPicture" class="hover" src="@Model.PicturesNames[i]" alt="@(i)" onclick="Popup_ShowPictures_HideBox(this, @currentBox);" onmouseover="ShowPicture_HideBox(this, @currentBox);" />
            }
            else
            {
                <img class="hover" src="@Model.GenericsPicturesNames[i]" alt="@(i)" />
            }
        </div>

    }

</div>

<div id="PopupPicture" class="popup">
    <span id="closeButton" class="close">&times;</span>
    <span id="previousButton" class="previous">&lt;</span>
    <span id="nextButton" class="next">&gt;</span>
    <img class="popup-content" id="imageToPopup">
    <div id="caption"></div>
</div>
<script>
    var popup = document.getElementById("PopupPicture");
    var imageToPopup = document.getElementById("imageToPopup");
    var captionText = document.getElementById("caption");
    var closeButton = document.getElementById("closeButton");
    var previousPicture;
    var nextPicture;
    var previousBox;
    var nextBox;
    closeButton.onclick = function () {
        popup.style.display = "none";
    }


    function Popup_ShowPictures_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        var previousPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix","")) - 1);
        var nextPictureId = "@PicturePreffix" + (parseInt(pictureToShowPermanently.id.replace("@PicturePreffix","")) + 1);
        previousPicture = document.getElementById(previousPictureId);
        nextPicture = document.getElementById(nextPictureId);

        var previousBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) - 1);
        var nextBoxId = "@BoxPreffix" + (parseInt(boxToHidePermanently.id.replace("@BoxPreffix","")) + 1);
        previousBox = document.getElementById(previousBoxId);
        nextBox = document.getElementById(nextBoxId);

        document.getElementById("previousButton").onclick = function () {
            Popup_ShowPictures_HideBox(previousPicture, previousBox);
        }
        document.getElementById("nextButton").onclick = function () {
            Popup_ShowPictures_HideBox(nextPicture, nextBox);
        }

        popup.style.display = 'block';
        imageToPopup.src = pictureToShowPermanently.src;
        captionText.innerHTML = pictureToShowPermanently.alt;
        ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently);
    }

    function ShowPicture_HideBox(pictureToShowPermanently, boxToHidePermanently) {

        pictureToShowPermanently.style.display = 'block';
        boxToHidePermanently.style.display = 'none';
    }



</script>